<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Zawody </title>
        <script src='/bower_components/jquery/dist/jquery.js'></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/startlistcrud.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/crud.css">
    </head>
    <body>
        
        <div class="jumbotron">
            <div class="container text-center">
                <%if (startList.referringHorses.length > 0){ %>
                <% } %>
                <input id="horse-count" type="number" min="5" class="form-control" placeholder="liczba koni">
               
                <input id="horse-count" type="button" min="5" class="btn btn-succes" placeholder="liczba koni">
               
                
               
            </div>
        </div>
     
    </body>
</html>