<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Uzytkownicy </title>

        <script src='../bower_components/jquery/dist/jquery.js'></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/usercrud.js"></script>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/crud.css">


    </head>
    <body>

        <div class="jumbotron">
            <div class="container text-center">
                <p>Użytkownicy</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Login</th>
                            <th>Hash</th>
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>Rola</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="horses-tbody">
                        <tr>
                            <td class="text-center">
                                <div class="input-group">
                                    <button id="add-btn" type="submit" class="btn btn-success">Dodaj</button>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input id="username" type="text" class="form-control" placeholder="login">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input id="password" type="password" class="form-control" placeholder="haslo">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input id="firstname" type="text" class="form-control" placeholder="imie">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input id="lastname" type="text" class="form-control" placeholder="nazwisko">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <select class="form-control" id="role">
                                        <option>admin</option>
                                        <option>arbiter</option>
                                    </select>
                                </div>
                            </td>

                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger fade" id='add-alert'>

                </div>
            </div>
        </div>

        <div class="modal fade" id="update-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="input-group input-group-lg" id="inputs-update">
                            <input type="text" class="form-control" disabled>
                            <input type="text" class="form-control" placeholder="login">
                            <input type="text" class="form-control" placeholder="imie">
                            <input type="text" class="form-control" placeholder="nazwisko">
                            <select class="form-control">
                                <option>admin</option>
                                <option>arbiter</option>
                            </select>
                        </div>

                        <div class="alert alert-danger fade" id='update-alert'></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="update-btn" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="delete-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Napewno chcesz usunąć ten rekord?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="delete-btn" class="btn btn-danger" data-dismiss="modal">Usuń</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>