<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
 
    <div class="jumbotron text-center">
        <p><%= title %></p>
        
        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
    </div>

  </body>
</html>