// out: ../../public/css/arbiter.css, compress: true

.jumbotron{

    background-color: gray;
    margin: 0 auto;
    margin-top: 5%;

    font-size: 25px;
    width: 80%;
    h3 {
        font-size: 40px;
        
    }
    .ui-slider-handle, .ui-state-default{
        background: aqua !important;
    }
    .row{
        margin: 0 auto;
        margin-top: 15%;
        display: flex;
        align-items: center;
        h3{
            margin: 0 auto;
        }
    }

}
