// out: ../../public/css/crud.css, compress: true


.jumbotron{
    margin: 0 auto;
    margin-top: 15%;
    width: 80%;
    table{
        margin: 0 auto;
        border: solid 2px black;
        table-layout: fixed; 
        width: 100%;
        td{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .input-group{
        display: block;
    }
    .btn{
        width: 90%;
    }
    .alert{
        margin-top: 5%;
    }
}
