// out: ../../public/css/results.css, compress: true
.jumbotron{

    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    table{
        margin: 0 auto;
        border: solid 2px black;
    }

    .groups{
        margin: 0 auto;
        width: 80%;

        margin-top: 5%;

        .select-horse{

            display: none;
        }
        .select-group,
        .select-horse{
            height: 250px;    
        }
        option{
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .alert{
        margin: 5%;
    }


}
