// out: ../../public/css/index.css, compress: true
.jumbotron{
    
    .glyphicon {
        position:absolute;
        right: 20px;
        top: 20px;
    }
    .glyphicon-circle-arrow-right{
         font-size: 4em;
    }
}
